<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tienda edwin </title>
    <style>* {
      margin:0;
      }
.carousel {
margin-bottom: 4rem;
}
.carousel-caption {
bottom: 3rem;
}
.carousel-item {
height: 37rem;
}
.carousel-item > img {
position: absolute;
top: 0;
left: 0;
min-width: 100%;
height: 37rem;
}</style>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"
    />

  </head>
  <body>
    <div id="main">
      <div id="app"></div>
    </div>

    <script src="{% static 'frontend/main.js' %}"></script>
    <script src =  "{% static 'frontend/edwin.js' %}"></script>
    <script src = "{% static 'frontend/edwin2.js' %}"></script>
  </body>
</html>